openapi: 3.0.0
info:
  title: Coffee Shop API
  description: An API for ordering coffee online
  version: 1.0.0
servers:
  - url: https://coffee-shop.com/api
paths:
  /menu:
    get:
      summary: Get the coffee shop's menu
      responses:
        "200":
          description: A list of menu items
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    price:
                      type: number
    /order:
    post:
      summary: Place an order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: string
                menuItem:
                  type: object
                  ref: menuItem
                customerInfo:
                  type: object
                  properties:
                    name:
                      type: string
                    email:
                      type: string
                    phone:
                      type: string
                paymentInfo:
                  type: object
                  properties:
                    cardNumber:
                      type: string
                    cvv:
                      type: string
                    expirationDate:
                      type: string
                      format: date
      responses:
        "200":
          description: Order successfully placed
        "400":
          description: Invalid request
    /cancel/{orderId}:
    delete:
      summary: Cancel an order
      parameters:
        - in: path
          name: orderId
          required: true
          schema:
            type: string
          description: The ID of the order to cancel
      responses:
        "200":
          description: Order successfully cancelled
        "404":
          description: Order not found
